@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Montserrat:ital,wght@1,400;1,700&display=swap');
/* reset general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------*/
body {
    background-color: #f9a998;
    font-family: sans-serif;
}

/* menu */
.navbar {
    background-color: #ee8a75;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    padding: 10px;
}

.navbar .logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    grid-column: 2 / 3;
}

.navbar .menu {
    grid-column: 4 / 7;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
}

.navbar .menu li {
    list-style: none;
}

.navbar .menu a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navbar .menu a:hover {
    color: #d6d0cf;
}

.nav-enlace {
    background-color: #f9a998;
    padding: 10px 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar .menu-bar {
    display: none;
}

/* -----------------*/

.bienvenida {
    height: 80vh;
    background-image: url(../img/fondo2.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr);
}

.bienvenida .saludo {
    grid-column: 3 / 6;
    grid-row: 3 / 7;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

/* nostros */

.presentacion {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5 ,1fr);
    text-align: center;
    font-size: 20px;
}

.presentacion .conocenos {
    grid-column: 3 / 6;
    grid-row: 2 / 5;
    font-family: 'Josefin Sans', sans-serif;
}

.presentacion .gabriela {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-top: 40px;
 }

 /* servicios */
 .eventos {
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

.eventos h2 {
    color: white;
}

 /* footer */
 footer {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}

.redes {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 20px;
}

.social {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.insta {
    width: 70px;
    height: 70px;

}

.face {
    width: 70px;
    height: 70px;
    margin-left: 6px;
}


 /* media queries*/

 @media all and (max-width: 840px) {
    .navbar {
        position: relative;
    }

    .navbar .menu-bar {
        display: block;
        font-size: 2em;
        grid-column: 8 / 9;
        cursor: pointer;
    }
    .navbar .menu {
        display: grid;
        position: absolute;
        width: 100%;
        height: 70vh;
        align-items: center;
        background-color: #ee8a75;
        margin-top: 38em;
        transform: translateX(175%);
        transition: all 1s;
        
    }
    .navbar .menu-toggle {
        transform: translateX(70%);
    }
    .bienvenida {
        background-image: url(../img/fondo2chico.png);
    }

    .bienvenida .saludo {
        grid-column: 2 / 6;
        grid-row: 2 / 6;
    }

    .bienvenida .saludo p {
        grid-column: 3 / 7;
    }
    .presentacion .conocenos {
        grid-column: 2 / 7;
        grid-row: 1 / 3;
        text-align: justify;
        margin-top: 20px;
    }
}


